/* Палитра 
текс color: #212121;
выделение color: #2196F3;
вторичный текс #757575;
почт и тел в футере color: rgba(255, 255, 255, 0.6);
*/

body {
    background-color: #fff;
    color: #212121;
}
ul { /* убирает все точки/нумерацию из списков. Можно для отдельных списков через добавление отдельного класса.*/
    list-style: none;
}

:root {
    --second-text-color: #757575;
    --accent-color: #2196F3;
}

/* стилизация шапки */
.logo {
    color: #000;
}

.logo-blue {
    color: var(--accent-color);
}

.header a {
    text-decoration: none;
}

.site-nav .link{
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.communication .item {
    color: var(--second-text-color);
}

.communication .item:hover,
.communication .item:focus {
    color: var(--accent-color);
}



.section .text {
    color: var(--second-text-color);
}


.team-list .profession {
    color: var(--second-text-color);
}