/* Палитра 
текс color: #212121;
выделение color: #2196F3;
вторичный текс #757575;
почт и тел в футере color: rgba(255, 255, 255, 0.6);
*/

body {
    background-color: #fff;
    color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
ul { /* убирает все точки/нумерацию из списков. Можно для отдельных списков через добавление отдельного класса.*/
    list-style: none;
}

:root {
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --background-filter-portfolio: #F5F4FA;
}

/* стилизация шапки */
.logo {
    color: inherit; /* не верно, хедер #000000, футер #ffffff */
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;  /* 31 / 26 = 1,1924 = 1,2 */
}

.logo-blue {
    color: var(--accent-color);
}

.header a,
.footer a{
    text-decoration: none;
}

.site-nav .link{
    color: #212121;
}

.site-nav,
.communication {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.communication .item,
.footer .item {
    color: var(--second-text-color);
}

.communication .item:hover,
.communication .item:focus {
    color: var(--accent-color);
}

/* стилизация main */

.hero .header {
    color: #FFFFFF;
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    cursor: pointer;
}

.hero .button {
    color: #fff;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border: 1px solid var(--accent-color);
}

/* основной конткнт */

.titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section .list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section .text {
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1.7;
}

.name,
.profession {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    text-align: center;
}

.profession {
    color: var(--second-text-color);
    font-weight: 400;
}

/* стилизация подвала */

.footer {
    color: #fff;
    background-color: #2F303A;
}

.address {
    font-style: normal;
}

/* CSS для portfolio.html */

/* кнопки фильтра */
.filters .button {
    background-color: var(--background-filter-portfolio);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.filters .button:hover,
.filters .button:focus {
    color: #fff;
    background-color: var(--accent-color);
}

/* офрмление картинок и подписей */
.projekt-titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.projekts .filter {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.87;
}