:root {
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --background-filter-portfolio: #f5f4fa;
}

body {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  display: none;
  /* visibility: hidden; */
}

/* стилизация шапки */

.section-header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  display: inline-block;
  margin-right: 93px;
}

.logo-blue {
  color: var(--accent-color);
}

.nav-list,
.communication-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
}

.nav-item:not(:last-child),
.communication-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item-link {
  color: #212121;
  text-decoration: none;
}

.nav-item-link,
.header-contact {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item-link:hover,
.nav-item-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav-item-link.current {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--second-text-color);
  fill: var(--second-text-color);
}

.header-contact-img {
  margin-right: 10px;
}

/* стилизация main */

/* hero */

.hero {
  background-color: var(--second-text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-header {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.button {
  cursor: pointer;
}

.hero .button {
  color: #fff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid var(--accent-color);
}

/* основной контент */

.titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  margin-bottom: 50px;
}

/* Особенности */

.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-filter-portfolio);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* Чем мы занимаемся */

.section-work {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */

.team-section {
  background-color: var(--background-filter-portfolio);
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name,
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-profession {
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.social-link-list {
  display: flex;
  justify-content: center;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
}

.team-link:hover,
.team-link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 20px;
  height: 20px;
}

/* стилизация подвала */

.footer {
  color: #fff;
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact {
  text-decoration: none;
  color: var(--second-text-color);
}

/* .contact:hover,
.contact:focus {
  color: var(--accent-color);
} */

.address-item {
  color: #fff;
  text-decoration: none;
}

/* CSS для portfolio.html */

/* кнопки фильтра */
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list .button {
  background-color: var(--background-filter-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  border: 1px solid transparent;
  border-radius: 4px;
}

.portfolio-list .button:hover,
.portfolio-list .button:focus {
  color: #fff;
  background-color: var(--accent-color);
}

/* офрмление картинок и подписей */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-img {
  display: block;
}

.project-box {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.project-text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
}
