.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  @extend %centeredFlex;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms $timing-function, color 250ms $timing-function;

  color: $link-color;
}

.social-links__link:hover,
.social-links__link:focus {
  color: $light-theme-color;
  background-color: $accent-theme;
}

.social-links__img {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
