.address {
  font-style: normal;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  @extend %link;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-theme;
  }

  &--white {
    color: $light-theme-color;
  }

  &--gray {
    color: $second-theme-color;
  }
}
